Freeds/FreedsNodeRed.json
[{"id":"42f0d6aff6fbdb54","type":"tab","label":"Calentador","disabled":false,"info":"","env":[]},{"id":"31ad71f1a0ea0297","type":"inject","z":"42f0d6aff6fbdb54","name":"L - D 07:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":120,"wires":[["fd9f10ee87cfb41f"]]},{"id":"fd9f10ee87cfb41f","type":"http request","z":"42f0d6aff6fbdb54","name":"Reboot FreeDS","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.31/reboot","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":340,"y":120,"wires":[["40165b3b76de0b6a"]]},{"id":"40165b3b76de0b6a","type":"debug","z":"42f0d6aff6fbdb54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":120,"wires":[]},{"id":"4d998d4c4c4207f9","type":"switch","z":"42f0d6aff6fbdb54","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":240,"wires":[["3d4e22cf6821f80f"],["8dd55d381e2dba97"]]},{"id":"3d4e22cf6821f80f","type":"change","z":"42f0d6aff6fbdb54","name":"1 - ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":220,"wires":[["1cf1b97bb3a724bb"]]},{"id":"8dd55d381e2dba97","type":"change","z":"42f0d6aff6fbdb54","name":"0 - OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["1cf1b97bb3a724bb"]]},{"id":"1cf1b97bb3a724bb","type":"mqtt out","z":"42f0d6aff6fbdb54","name":"","topic":"freeds_6d50/cmnd/pwm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29a3a48364025c7e","x":870,"y":240,"wires":[]},{"id":"a6ea6cedd510dc49","type":"mqtt out","z":"42f0d6aff6fbdb54","name":"","topic":"freeds_6d50/cmnd/pwmman","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29a3a48364025c7e","x":880,"y":360,"wires":[]},{"id":"a70b7e899e8658c5","type":"switch","z":"42f0d6aff6fbdb54","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"MANUAL","vt":"str"},{"t":"eq","v":"AUTOMATICO","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":360,"wires":[["1964aecdad6588b8"],["c5018dc1499f9798"]]},{"id":"1964aecdad6588b8","type":"change","z":"42f0d6aff6fbdb54","name":"1 - ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":340,"wires":[["a6ea6cedd510dc49"]]},{"id":"c5018dc1499f9798","type":"change","z":"42f0d6aff6fbdb54","name":"0 - OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":380,"wires":[["a6ea6cedd510dc49"]]},{"id":"adef0c7d42e6d247","type":"api-call-service","z":"42f0d6aff6fbdb54","name":"CambiaModePWM-Toggle","server":"12e9254160101b21","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_next","entityId":"input_select.pwm_freeds","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":580,"wires":[["211a9d25a8927f55"]]},{"id":"35d40965b312931b","type":"inject","z":"42f0d6aff6fbdb54","name":"L -D 10:59","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"59 10 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":540,"wires":[["adef0c7d42e6d247"]]},{"id":"495820bd8158c06a","type":"inject","z":"42f0d6aff6fbdb54","name":"L -D 16:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":600,"wires":[["adef0c7d42e6d247"]]},{"id":"211a9d25a8927f55","type":"debug","z":"42f0d6aff6fbdb54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":580,"wires":[]},{"id":"a572de4f77e2fc7c","type":"server-state-changed","z":"42f0d6aff6fbdb54","name":"Pwm Mode State","server":"12e9254160101b21","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.pwm_freeds","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":240,"wires":[["4d998d4c4c4207f9"]]},{"id":"a51059d65fb49e97","type":"server-state-changed","z":"42f0d6aff6fbdb54","name":"Mode Auto-Manu","server":"12e9254160101b21","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.modo_freeds","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":360,"wires":[["a70b7e899e8658c5"]]},{"id":"5a6f05f8f2b75beb","type":"comment","z":"42f0d6aff6fbdb54","name":"config freeds","info":"Buenas yo tenia el mismo problema y ahora va de lujo, yo puse useExternalMeter 1 y invertGridValue 1. De lujo","x":90,"y":180,"wires":[]},{"id":"f3904d0a9beedac1","type":"comment","z":"42f0d6aff6fbdb54","name":"Apagado y encendido","info":"","x":120,"y":480,"wires":[]},{"id":"5bc3683865869925","type":"comment","z":"42f0d6aff6fbdb54","name":"Reinicio","info":"Buenas yo tenia el mismo problema y ahora va de lujo, yo puse useExternalMeter 1 y invertGridValue 1. De lujo","x":70,"y":60,"wires":[]},{"id":"29a3a48364025c7e","type":"mqtt-broker","name":"","broker":"192.168.1.10","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"12e9254160101b21","type":"server","name":"Home Assistant","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]